img {
    max-width: 100%;
  }

*{
    box-sizing: border-box;
}

  ul{
      margin: 0;
      padding: 0;
      list-style: none;
  }
    
  body {
    background-color: #05303d;
    color: rgb(241, 111, 191);
    margin: 0;
  }

  body > *{
      margin-bottom: 3rem;
  }
  
  .title {
      text-align: center;
      font-size: 2.5rem;
      color: brown;
      text-transform: uppercase;
      letter-spacing: 11px;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

  }
  .header img{
    width: 500px;
  }

  .header__aside{
      border: 3px solid red;
      width: 400px;
      height: 500px;
      padding: 50px 100px
  }

  .header__aside li{
    font-size: 1.3em;
    line-height: 3;
  }

  .container{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .ingredients,
  .directions{
      width: 40%;
      padding: 1rem 3rem;
  }


  .ingredients__item{
      margin-bottom: 1rem;
      font-size: 1.1rem;
  }

  .footer{
      text-align: center;
      font-size: 1.3rem;
  }